<%= form_for @course do |f| %>
  
  <%= render partial:"shared/form_error", locals: { form: @course } %>

  <p>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>