<div class="row">
  <div class="col-md-4">
    <h1>Showing Course</h1>
    
    <p>
      <strong>Name:</strong>
      <%= @course.name %>
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= @course.description %>
    </p>
    
    <% if @course.owner == current_user %>
      <p>You created this course!</p>
    <% elsif @user.nil? %>
      <p><%= link_to 'Subscribe', subscribe_course_path %></p>
    <% else %>
      <p><%= link_to 'Unsubscribe', unsubscribe_course_path %></p>
    <% end %>
    
    <p>
      This course was created by <strong><%= @course.owner.email %></strong>
    </p>
    
    <%= link_to 'Back', courses_path %>
  </div>


  <div class="col-md-3">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Subscribed Users: <%= @course.users.count %>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% if @course.users.count == 0 %>
              <p>No subscribed users yet!</p>
            <% else %>
              <% @course.users.each do |course| %>
              <p><%= course.email %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>